<%- include("partials/header.ejs") %>
<button>New Task</button>
<div>
  <table>
    <% for(var x = task.length - 1; x >= 0; x--){ %>
      <td></td>
    <% } %>
  </table>
</div>

<%- include("partials/footer.ejs") %>
