<%- include("partials/header.ejs") %>

<div class="bodyDiv">
  <h2>Get Started</h2>
  <button class="btn btn-primary" onclick="window.location='/login';">Login</button>
  <button class="btn btn-primary" onclick="window.location='/register';">Register</button>
</div>

<%- include("partials/footer.ejs") %>
